/*TEMP STYLES START*/
#slider {
    width: 300px;
    height: 3px;
    margin: 15px auto;
    background: #757575;
    border: 1px solid #454545;
}

.ui-slider-horizontal .ui-state-default {
    background: #999999;
    border: 1px solid #454545;
    width: 10px;
    height: 10px;
    border-radius: 12px;
}

#info {
    margin: 15px auto;
    text-align: center;
}

#icon_size {
    background: transparent;
    display: inline-block;
    font-weight: bold;
}

#wrapper {
    margin: 0 auto;
    background: transparent;
    width: 95%;
    overflow: hidden;
}
/*TEMP STYLES END*/
* {
    background: transparent;
}

*, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Arial;
    font-size: 95%;
    background: #ececec;
    background-image: url("../images/bg.jpg");
}

img {
    background: transparent;
}

.hover_wrapper {
    padding: 10px;
    margin: 10px;
    background: transparent;
    border-radius: 10px;
    overflow: hidden;
    transition: background 0.3s;
    cursor: pointer;
    width: auto;
    box-shadow: none;
    display: inline-block;
}

    .hover_wrapper:hover {
        background: rgba(255,255,255, .2);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    }


.icon_wrapper {
    margin: 10px;
    background: transparent;
}

.icon {
    background: transparent;
    resize: both;
    width: inherit; /*95px minimum - due to menu icons + padding*/
    height: auto;
    vertical-align: middle;
}

.status_wrapper {
    display: block;
    background: transparent;
    margin: 0 auto 8px auto;
}

.person {
    text-align: center;
    background: transparent;
    display: inline-block;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    vertical-align: middle;
}

.status_icon {
    margin-right: 6px;
    background: transparent;
    display: inline-block;
    vertical-align: middle;
}

.selection_menu {
    margin: 12px auto 0 auto;
    background: transparent;
    visibility: hidden;
}

.bottom_wrapper {
    background: transparent;
    margin: 12px auto 0 auto;
}

.grid_view {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 8px;
}

.center {
    text-align: center;
}

#videos_menu {
    display: none;
}

/*MENU ICON SPRITES*/
.icons {
    display: inline-block;
    width: 14px;
    height: 14px;
    content: '';
    margin-right: 10px;
    cursor: pointer;
}

    .icons:last-child {
        margin-right: 0;
    }

.chat_icon {
    background: url("../images/icon_map.png");
    background-position: -42px 0;
}

    .chat_icon:hover {
        background: url("../images/icon_map.png");
        background-position: -42px 14px;
    }

.call_icon {
    background: url("../images/icon_map.png");
    background-position: -56px 0;
}

    .call_icon:hover {
        background: url("../images/icon_map.png");
        background-position: -56px 14px;
    }

.video_call_icon {
    background: url("../images/icon_map.png");
    background-position: -70px 0;
}

    .video_call_icon:hover {
        background: url("../images/icon_map.png");
        background-position: -70px 14px;
    }

.share_icon {
    background: url("../images/icon_map.png");
    background-position: -84px 0;
}

    .share_icon:hover {
        background: url("../images/icon_map.png");
        background-position: -84px 14px;
    }
