*, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, sans-serif;
    font-size: 100%;
    background: #474747;
    border: none;
}

#wrapper {
    background: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 50%;
}

.section {
    display: inline-block;
    float: left;
    width: 50%;
    margin: 20px 0;
}

.section_title {
    font-weight: bold;
    font-size: 95%;
    color: #f2f2f2;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.section_image, .section_wrapper {
    display: inline-block;
    vertical-align: top;
}

ul.options {
    font-size: 75%;
    list-style: none;
    margin: 4px 0 0 6px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.section_title a:link {
    text-decoration: none;
    color: #f2f2f2;
}

.section_title a:visited {
    color: #f2f2f2;
}

.section_title a:hover {
    color: #3fb3d3;
}

ul li a:link {
    text-decoration: none;
    color: #A5A5A5;
}

ul li a:visited {
    color: #A5A5A5;
}

ul li a:hover {
    color: #3fb3d3;
}
